body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: black;
    color: white;
    font-family: 'Play', sans-serif;
}

#scoreBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 480px;
    margin: 30px;
}

#startGame, #score, #lives {
    background-color: #00ffa5;
    color: black;
    border-style: solid;
    border-color: #00ffa5;
    border-radius: 30px;
    padding: 10px 20px;
    font-family: 'Play', sans-serif; 
    /* font-family needed as without it the engage button will not inherit the font from body */
    font-size: 18px;
}

#controls {
    text-align: center;
    max-width: 480px;
}

canvas {
    background-color: black;
    border-style: solid;
    border-color: #00ffa5;
    border-width: 3px;
    border-radius: 3px;
    width: 480px;
    height: 320px;
    background-size: 40px 40px;
    /* defines the size of a single grid square, to be repeated across the entire canvas */
    background-image: repeating-linear-gradient(0deg, #31013b, #31013b 1px, transparent 1px, transparent 40px), repeating-linear-gradient(-90deg, #31013b, #31013b 1px, transparent 1px, transparent 40px);
    /* draws the grid lines as a repeating set of gradients, vertical (0deg) then horizontal (-90deg), with the gradients defined by the pixel position across a single grid square. In this case, a dark purple line is drawn then abruptly stopped by a sudden transition to transparency, which then fills the rest of the square. */
    }

.hideMouse {
    cursor: none;
} 

label {
    display: none;
}